<nav class="navbar">
  <div class="col-lg-12 removePadding">
    <div class="col-lg-1 thunder">
      <img src="assets/images/logo.png" class="align_image">
    </div>
    <div class="col-lg-11 specific_width removePadding">
      <div class="col-lg-6 removePadding">
        <div class="col-lg-3 removePadding">
          <h5 class="align_center bold profile_page">
            PROFILE PAGE
          </h5>
        </div>
        <div class="col-lg-9 removePadding">
          <div>
            <input type="text" placeholder="Search.." class="search_bar">
            <img src="assets/images/loupe.png" class="search_icon">
          </div>
        </div>
      </div>
      <div class="col-lg-6 removePadding">
        <div class="col-lg-2 removePadding">
          <p class="find_friends">Find Friends</p>
        </div>
        <div class="col-lg-10 removePadding">
          <ul class="navbar_icons">
            <li>
              <img src="assets/images/1301318-notifications/png/049-notification-2.png">
            </li>
            <li>
              <img src="assets/images/1301318-notifications/png/048-message-2.png">
            </li>
            <li>
              <img src="assets/images/1301318-notifications/png/017-globe.png">
            </li>
          </ul>
          <ul class="profile_image">
            <li>
              <img src="assets/images/author-main1.jpg" class="profile_pic">
            </li>
            <li class="name_place">
              <p>James Spiegel</p>
              <p>SPACE COWBOY</p>
            </li>
          </ul>
          <a [routerLink]="['']" class="log_out_icon"><i class="fas fa-power-off" aria-hidden="true" style="margin-right: 10px;"></i>Log out</a>
        </div>
      </div>
    </div>
  </div>
</nav>