<div class="left_sidebar col-lg-1">
  <ul class="icons_vertical">
    <li><i class="fas fa-rss"></i></li>
    <li><a [routerLink]="['all_post']" ngClass="" routerLinkActive="green"><i class="fas fa-edit"></i></a></li>
    <li><a [routerLink]="['travelog']" ngClass="" routerLinkActive="green"><i class="fas fa-layer-group"></i></a></li>
    <!-- <li><i class="fas fa-edit"></i></li>
    <li><i class="fas fa-layer-group"></i></li> -->
    <li><i class="fas fa-list"></i></li>
    <li><i class="fas fa-th-list"></i></li>
    <li><i class="fas fa-poll"></i></li>
    <li><i class="fas fa-broadcast-tower"></i></li>
    <li><i class="fas fa-industry"></i></li>
    <li><i class="fas fa-certificate"></i></li>
    <li><i class="fas fa-layer-group"></i></li>
    <li><i class="fas fa-th-list"></i></li>
  </ul>
</div>
