<div class="center_position">
  <div class="bgWhite rounded_border">
    <img src="assets/images/header_img1.jpg" height="100%" width="100%" class="wallpaper_image">
    <div class="image_content">
      <div class="row removePadding">
        <div class="col-lg-5">
          <ul class="menu_1">
            <li id="timeline">
              Timeline
            </li>
            <li>
              About
            </li>
            <li>
              Friends
            </li>
          </ul>
        </div>
        <div class="col-lg-2 removePadding">
          <img src="assets/images/author-main1.jpg" class="center_image">
        </div>
        <div class="col-lg-5">
          <ul class="menu_1">
            <li>
              Photos
            </li>
            <li>
              Videos
            </li>
            <li>
              ...
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 removePadding mt30">
    <div class="col-lg-2 removePadding first_column">
      <div class="profile_intro">

      </div>
    </div>
    <app-postCard></app-postCard>
    <div class="col-lg-2 removePadding third_column">
      <div class="last_photos">

      </div>
    </div>
  </div>

</div>
