<div class="col-lg-12 removePadding main_header" *ngIf="showHead" style="background: #e84c3d;">
    <div class="pull-right">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li routerLinkActive="active">
                    <a [routerLink]="['login']">Login</a>
                </li>
                <li  routerLinkActive="active">
                    <a routerLink="sign_up">Sign up</a>
                </li>
                <!-- <li  routerLinkActive="active"
                     [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="">Home</a>
                </li> -->
                <!-- exact is a reserved keyword -->
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
    </div>
</div>
