<form style="background: #ffffff;margin-bottom: 20px;padding: 25px;">
    UserName:<br>
    <input 
        type="text"
        name="username" 
        [(ngModel)]="userName">
    <br>
    Description:<br>
    <textarea name="message" rows="10" cols="30" [(ngModel)]="description"></textarea><br>
    <select name="Card Type" id="cardType" (change)="selectedCardType($event)">
        <option value="0">Select the card type </option>
        <option value="1">Card with description and comments</option>
        <option value="2">Card with media files</option>
    </select>
    <p>{{selectedLevel}}</p>
    <p>
        {{description}}
    </p>
    <h4 *ngIf="selectedLevel == 2">
        Media File: <br>
        <input type="text" name="media_file" #mediaFile><br>
    </h4>
    <button (click)="newPost(userName, selectedLevel, userName, userName, userName, description, userName)">Create a new post</button>
</form>