<!-- <ul class="profile_image">
  <li>
    <img [src]=card_details[1].profile_picture class="profile_pic noMargin">
  </li>
  <li class="name_place">
    <p style="font-size: 16px;">{{card_details[1].user_name}}</p>
    <p style="font-weight: bold;" [innerHTML]="card_details[1].last_visited"></p>
  </li>
</ul>
<hr class="mt30" style="border: 1px solid #efefef;">
<img [src]="card_details[1].media_file" style="height: 175px;display: block;box-shadow: -8px 5px 5px 0px grey;margin: auto;"
  class="mt30"> -->
<!-- <div class="mt30">
  
</div> -->
